<div>
  <div class="banner p-3">
    <h1>Result</h1>
  </div>

  <div class="response p-3 py-0">
    <p><%= @result %></p>
  </div>

  <div class="home p-3 py-0">
    <%= link_to "Play again!", new_path %>
  </div>
</div>
